{% extends 'student/student_layout.html' %}

{% block content %}
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Seating Arrangement</h4>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Subject</th>
                                <th>Hall Number</th>
                                <th>Seat Number</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for seat in seating %}
                            <tr>
                                <td>{{ seat.subject.subject_name }}</td>
                                <td>{{ seat.hall_no }}</td>
                                <td>{{ seat.seat_no }}</td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="3" class="text-center">No seating arrangement found.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}